
.work-sans-first {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
body{
    margin: 0px;
    padding: 0px;
}
.head{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.links_above{
    font-size: 18px;
    font-weight: normal;
    list-style: none;
    display: flex;
    gap: 20px;
    
}
a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
}
.tittle{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head_1{
    font-size: 64px;
    font-weight: bold;
    margin:  0px;
}
.pera{
    font-size: 16px;
    font-weight: normal;
}
.explore_buttpn{
    width:180px ;
    height: 64px;
    border-radius: 8px;
    background-color:rgba(255, 144, 14, 1) ;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-top:33px ;
}
.banner{
    margin-top: 80px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.banner_titles{
    
    width: 862px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.banner_img{
    margin-top: 50px;
    margin-bottom: 45px;
    width: 1440px;
    height: 700px;
   background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
}
header{
   
    background-color: rgba(255, 144, 14, 0.1);
}
.list{
    font-size: 45px;
    font-weight: 500;
    margin: 0px;
}
.quick{
    color:rgba(114, 114, 114, 1) ;
    
}
.features{
    color:rgba(255, 144, 14, 1) ;
    margin: 0px;
}
.there{
    font-weight: normal;
    font-size: 16px;
    margin: 0px;
    margin-top: 24px;
}
.first_sec{
    margin-top: 85px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 73px;
}
.img_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.inside{
    width: 537px;
    height: auto;
    display: flex;
    flex-direction: column;
    
}
.ex_1{
    margin-top: 32px;
    margin-left: 0px;
}
.love{
    font-weight: bold;
    font-size: 45px;
    margin: 0px;
    padding-left: 5px;
    border-left: 5px solid rgba(255, 144, 14, 1);
    border-radius: 2px;
}
.hiji{
    font-weight: normal;
    font-size: 16px;
    margin: 0px;
}
.biji{
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
}
.container_ingri_img{
    width: 500px;
    height: 982px;
    background-image:url(/images/architect.png) ;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.flexing{
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    gap: 146px;
    justify-content: center;
    align-items: center;
}
.container_ingri{
    width: 400px;
    height: 982px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.year{
    font-size: 65px;
    font-weight: bold;
    margin: 0px;
}
.experience{
    font-size: 25px;
    font-weight: normal;
    margin: 0px;
}
.ten_year{
    width: 342px;
    height: 200px;
    border-radius: 8px;
    background-color: rgba(255, 144, 14, 1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 692px;
    bottom: -70px;
    z-index: 1;
}
.second_se{
    position: relative;
    
}
.whitning{
   
}
.items_inside{
    padding: 30px 42px;
 background-color: rgba(255, 255, 255, 1);
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
     
     border-radius: 8px;
}
.some{
    margin: 0px;
    font-weight: bold;
    font-size: 45px;
}
.facts{
    height: 130px;
    width: 400px;
    margin-left: 240px;
    margin-top: 130px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    align-items:flex-start;
}
.variations{
    margin: 0px;
    font-weight: normal;
    font-size: 16px;
}
.box{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.boxes{
    display: flex;
    flex-direction: row;
    gap:50px;
    align-items: center;
    justify-content: center;
}
.num{
    margin: 0px;
    font-weight: bold;
    font-size: 45px;
    color: rgba(66, 66, 66, 1);
}
.aw{
    margin: 0px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(66, 66, 66, 1);
}
.our_sponser{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 180px;
    width: 400px;
    height: auto;
    margin-bottom: 50px;
}
.third-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.spons_container{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content:center ;
    align-items: center;
    margin-bottom: 100px;
}
.copyright{
    width: 1200px;
    height: 80px;
    background-color: rgba(255, 244, 231, 1);
    color: rgba(66, 66, 66, 1);
    display: flex;
   justify-content: center;
   align-items: center;
    margin-bottom: 100px;
    border-radius: 8px;
    box-shadow: 0.5px  0.5px ;
}
.right{
    font-size: 20PX;
    font-weight: normal;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Here comes the media query  */
@media screen and (max-width: 576px) {
    .tittle {
        height: auto;
        margin: 0px 20px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .head{
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .head_1{
        font-size: 50px;
        
    }
    .pera{
        font-size: 14px;
    }
    .banner_titles{
        width: 90%;
    }
    .explore_buttpn{
        aspect-ratio: 180/64;
    }
    .banner_img{
        width: 90%;
        height: auto;
       
        aspect-ratio: 16/9;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
       
    }
    .links_above{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 25px;
    }
    .first_sec{
        flex-direction: column-reverse;
    }
    .inside{
        width: 90%;
       margin-left: 0px auto;
    }
    .container_inside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img_container{
        display: flex;
        flex-direction: column;
    }
    .container_ingri{
        width: 90%;
        margin-bottom: 32px;
    }
    .flexing{
        flex-direction: column;
       
    }
    .second_se{
        height: auto;
    }
    .container_ingri_img{
        width: 90%;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ten_year{
        left: 10px;
        width: 300px;
        height: auto;
        aspect-ratio: 342/200;
    }
    .facts{
        margin: 100px auto;
        width: 90%;
        height: auto;
        margin-bottom: 50px;
    }
    .boxes{
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        column-gap: 5px;
        row-gap: 5px;
    }
    .spons_container{
        flex-direction: column;
        gap: 50px;
    }
   .copyright{
    width: 90%;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
   }
   
}
